body{
    width: 90%;
    background-image: url("imgHomer/fondo.jpg");
    background-repeat: no-repeat;
    padding: 50px;
    height: 80%;
}
#encabezado{
    float: none;
    text-align: center;
}
#menu{
    padding: 1%;
    border: solid black 1px;
    border-radius: 20px 0px 0px 20px;
    width: 20%;
    float: left;
    background-color: white;
}
#centro{  
    margin-left: 1%;
    border: solid black 1px;
    float: left;
    background-color: white;
    width: 400px;
    height: 550px;
}
#derecha{
    border: solid black 1px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    float: left;
    margin-left: 1%;
    width: 30%;
    padding: 1%;
}
#menu ul{
    list-style: none;
}
#menu a{
    text-decoration: none;
}

#borracho1, #borracho2, #borracho3, #pensando1, #pensando2, #pensando3, #bart, #marge, #maggie, #lisa, #simpsons, 
#rockero1, #rockero2, #rockero3{
    display: none;
    width: 350px;
    height: 500px;
}
